* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
}
.flex {
    display: flex;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1354px;
    max-width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
  }
main{
    padding-top: 6.6rem;
    padding-left: 19rem;
}
header {
    background-color: #fff;
    padding: 0.8rem 1.6rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.12),
      0 0.2rem 0.4rem rgba(0, 0, 0, 0.24);
    width: 100%;
    position: fixed;
    z-index: 9;
  }
  nav{
      display: flex;
  }
  .logo{
      margin-left: auto;
      align-self: center;
  }
  .card-layout{
   background-color:  #f2f7f9;
   padding: 2rem 0;
  }
  .card-section h3{
      padding-right: 1rem;
  }
  .states{
      background-color: #f2f7f9; 
      border: none;
      border-bottom: 1px solid black;
      font-size: 1.2rem;
  }
  .side-nav{
    height: 100%; 
    width: 190px; 
    position: fixed; 
    z-index: 1; 
    background-color: #fff; 
    padding-top: 7rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.12),
      0 0.2rem 0.4rem rgba(0, 0, 0, 0.24);
  }
  .side-nav img{
      width: 3rem;
     margin-right: 1rem;
     margin-left: 1rem;
  }
  .side-nav figure{
      display: flex;
      padding: 1.5rem 0;
      align-items: center;
      color: black;
  }
  .side-nav figure:hover{
      background-color: #f2f7f9;
  }
 
  .icons{
      display: flex;
      margin-left: auto;
  }
  .icons img{
      width: 2.5rem;
      margin: 0 0.5rem;
  }
  .mapping {
    border-bottom: 1px solid;
    padding: 2rem 0 1rem 0;
}
  .cards{
      padding: 2rem 0;
  }
  .card-school-type:nth-child(4){
    margin-right: 1.5rem;
  }
  .card-school{
    width: 30%;
    background-color: white;
    margin: 0 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
  }
  .card-school-type{
    width: 20%;
    background-color: white;
    text-align: center;
    border-radius: 0.5rem;

  }
  .card-school img{
      width: 4rem;
      margin: auto;
  }
  .card-school figcaption{
      font-size: 1rem;
      padding-top: 1rem;
  }
  .card-school{
      font-size: 3rem;
      padding: 3rem 0;
  }
  .card-school-info p{
      font-size: 1.5rem;
  }
  .card-school-info h6{
      font-size: 1rem;
  }
  .mapping-schools{
      display: flex;
      justify-content: space-evenly;
      padding-top: 4rem;
  }
  .card-school-type{
    padding: 1rem 0;
  }
  .table-data{
      padding-top: 2rem;
  }
  .total{
      margin: auto;
  }
  .total th{
      font-size: 1rem;
      padding-right: 1rem;
  }
  .total td:nth-child(even){
      padding: 1rem 0
  }
   .Survey-Status{
    border-bottom: 1px solid;
    padding-bottom: 1rem;
  }
  .school-numbers{
    width: 50%;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

  }
  .school-numbers h5{
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .heading{
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  .search-user{
      background-color: blueviolet;
      color: white;
      margin-left: auto;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
  }
  .Survey-form{
      background-color: white;
      border-radius: 0.5rem;
      margin: 2rem 0;
  }
  .survey-heading{
    padding: 2rem 1rem;
  }
  .survey-heading h5, .survey-data h5{
    border-bottom: 1px solid aqua;
    padding-bottom: 1rem;
  }
  .input{
      list-style-type: none;
  }
  .form{
    border: none;
    border-bottom: 1px solid aqua;
    font-size: 1.1rem;
    width: 31.2%;
    margin: 0 1rem;
    padding-bottom: 0.5rem;

  }
  .input li{
      display: flex;
  }
  .input-li{
      padding-top: 2rem;
  }
  .button{
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .cancel{
      padding: 1rem 1.5rem;
      background-color: blueviolet;
      border: none;
      border-radius: 0.5rem;
      color: white;
  }
.survey-data{
    
    background-color: white;
    border-radius: 0.5rem;
    margin: 2rem 0;
}
.modify{
    margin: 0rem 1rem;
    display: flex;
    border-bottom: 1px solid aqua;
    padding-bottom: 2rem;
}
.number{
    border: none;
    border-radius: 2rem;
    background: aqua;
    padding: 0.8rem;
}
.personal-details{
    padding: 2rem 1rem;
    display: flex;
}
.search-info{
    list-style-type: none;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    font-weight: 500;
}
.info-details{
    list-style-type: none;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    font-size: 1.2rem;
}

.map-schools{
    background-color: blueviolet;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.table{
    list-style-type: none;
    display: flex;
}
.table li{
    padding-right: 5rem;
}
.table li label{
    font-weight: 500;
}
.name{
font-size: 1.2rem;
padding-top: 1.5rem;
}
.mapped-schools , .edit-mapping{
    background-color: blueviolet;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.buttons{
    margin-left: auto;
}
.edit-mapping{
margin-top: 1rem;
}
@media (max-width: 1199px) {
    .table li {
        padding-right: 1rem;
    }
  
    .total th{
        padding-right: 0;
    }
  
   
}
@media (max-width: 1024px) {
    .table li label{
        font-size: 1.2rem;
    }
.card-school-info{
    width: 30%;
}
.cards{
    flex-wrap: wrap;
}
.card-school{
    width: 50%;
}
.card-school-type{
    width: 45%;
}
.card-school{
    width: 50%;
}
.card-school-type:nth-child(4) {
     margin-right: 0; 
    margin-top: 1rem;
}
.card-school-type{
    width: 45%;
}
.card-school:nth-child(1){
    margin-bottom: 1rem;
}
}
@media (max-width: 991px) {
    .table{
        max-width: 75%;
    flex-wrap: wrap;
    }
    .table li{
        width: 33.33%;
        padding-top: 0rem;
        margin-top: 1rem;
    }
    .name{
        padding-top: 0;
    }
    @media (max-width: 768px) {
        .table li{
            width: 50%;
        }
        .card-school, .card-school-type{
            width: 100%;
        }
        .card-school-type{
            margin-bottom: 1rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
        .card-school-type:nth-child(4){
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
        .school-numbers{
            width: 100%;
        }
        .total{
            width: 100%;
        }
        .input li{
            flex-wrap: wrap;
        }
        .form{
            width: 100%;
        }
        .form:nth-child(2){
            margin: 2rem 1rem;
        }
}
}
@media (max-width: 575px) {
    .table li{
        width: 100%;
    }
    .table{
        width: calc(100% - 104px);
    }
}
@media (max-width: 425px) {
.card-section{
    flex-wrap: wrap;
}
.search-user{
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
}
.mapped-schools,.edit-mapping,.cancel{
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
}
.card-layout h4{
    font-size: 1.2rem;
}
}
